.browser-history-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-container {
  display: flex;
  flex-direction: row;
  background-color: #3367d6;
  height: 100px;
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;
}
.history-logo {
  height: 45px;
  width: 160px;
  margin-right: 100px;
  margin-left: 50px;
}
.search-container {
  display: flex;
  background-color: transparent;
  text-align: center;
  justify-content: center;
  height: 40px;
  margin-left: 100px;
}

.search-icon {
  background-color: #2850a7;
  color: white;
  margin-right: 4px;
}

.search-input {
  background-color: #2850a7;
  outline: none;
  border: 0px;
  width: 500px;
  color: #ffffff;
}

.suggestions-list {
  list-style-type: none;
}

.empty-list-view {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.empty-text {
  color: #475569;
  font-family: Roboto;
}
